:root{
  --O-color: #2196f3;
  --X-color: #f44336;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  align-items: center;
  justify-content: center;

  font-family: sans-serif;
  height: 100vh;
  background-color: #eee;
}

.board {
  display: grid;
  grid-template-columns:  repeat(3, 240px);
  grid-template-rows: repeat(3, 200px);
  gap: .5rem;
}

.cell {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  font-size: 3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.title{
  text-align: center;
  font-size: 3rem;
  color: #555;
  margin-bottom: 1rem;
}

.turn {
  text-align: center;
  font-size: 2rem;
  color: #555;
}

.cell.O {
  background-color : var(--O-color);
  cursor: not-allowed;
}
.cell.X{
  background: var(--X-color);
  cursor: not-allowed;
}

.cell.O, .cell.X {
  cursor: not-allowed;
}

.cell:not(.O):not(.X):hover{
  box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1), 0 10px 10px -5px rgba(0,0,0,0.1)
}

.card-form{
  border-radius: 5px;
  min-width: 720px;
  
}
